{% include 'head.html' %}

<body>
    {% include 'header.html' %}
    <div class="container">
        <span>Trabajo final de computacion evolutiva<br>
            <br>
            Se presenta el problema del TSP (travelling salesman problem) el cual es resuelto
            mediante un algoritmo evolutivo, aplicando distintos metodos en el proceso con el
            fin de evaluar el comportamiento del algoritmo implementado
            <br>
            <br>
            Para comenzar la ejecucion, vaya al apartado 'TSP'
        </span>
    </div>
</body>
</html>