<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problema del viajante</title>

    <!--Hoja de estilos propia-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

    <!-- Logo de la pestaña -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/tsp_logo.png')}}">

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

